apiVersion: v1
kind: ConfigMap
metadata:
  name: inferenceservice-config
  namespace: opendatahub
data:
  ingress: |-
    {
        "enableGatewayApi": true,
        "kserveIngressGateway": "$(NAMESPACE)/inference-gateway",
        "ingressGateway" : "knative-serving/knative-ingress-gateway",
        "knativeLocalGatewayService" : "knative-local-gateway.istio-system.svc.cluster.local",
        "ingressService" : "istio-ingressgateway.istio-system.svc.cluster.local",
        "localGateway" : "istio-system/kserve-local-gateway",
        "localGatewayService" : "kserve-local-gateway.istio-system.svc.cluster.local",
        "ingressDomain"  : "example.com",
        "ingressClassName" : "istio",
        "domainTemplate": "{{ .Name }}-{{ .Namespace }}.{{ .IngressDomain }}",
        "urlScheme": "https",
        "disableIstioVirtualHost": false,
        "disableIngressCreation": false
    }
  inferenceService: |-
    {
      "serviceAnnotationDisallowedList": [
        "autoscaling.knative.dev/min-scale",
        "autoscaling.knative.dev/max-scale",
        "internal.serving.kserve.io/storage-initializer-sourceuri",
        "kubectl.kubernetes.io/last-applied-configuration",
        "security.opendatahub.io/enable-auth",
        "networking.knative.dev/visibility",
        "opendatahub.io/hardware-profile-name",
        "opendatahub.io/hardware-profile-namespace"
      ]
    }