poetry==1.7.1
build==1.2.2
cachecontrol==0.13.1
cffi==1.16.0
cleo==2.1.0
crashtest==0.4.1
cryptography==42.0.5
Cython==3.0.11
decorator==5.1.1
docopt==0.6.2
dulwich==0.21.7
fastjsonschema==2.20.0
gssapi==1.8.3
hdfs==2.6.0
importlib-metadata==8.5.0
installer==0.7.0
jaraco.classes==3.4.0
jeepney==0.4.2
keyring==24.3.1
krb5==0.6.0
krbcontext==0.10
more-itertools==10.5.0
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==3.11.0
poetry-core==1.8.1
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pycparser==2.22
pyproject-hooks==1.1.0
pyspnego==0.11.1
rapidfuzz==3.9.7
requests-toolbelt==1.0.0
requests-kerberos==0.14.0
shellingham==1.5.4
SecretStorage==3.3.3
setuptools==56.0.0 #50.3.2
starlette==0.36.2
tomli==2.0.1
tomlkit==0.13.2
trove-classifiers==2024.9.12
wheel==0.44.0
#xattr==0.10.1

